
@{
    ViewBag.Title = "Entrance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Down the Well</h2>
<h3>You begin to swim downward, and something grabs you, pulling you underwater. You drown.</h3>
<h3>Your score was 0</h3>