@model MazeApplication.Models.Temporary

@{
    ViewBag.Title = "Maze";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string currentLocation = ViewBag.CurrentLocation;
    int id = ViewBag.Id;
}

<h1>Character Information</h1>

@using (Html.BeginForm("Maze", "Maze"))
{
    @Html.Hidden("inputRoom", currentLocation);
    @Html.Hidden("id", id);
    <input type="submit" class="btn btn-primary" value="Back to Game" />
}