@model IEnumerable<MazeApplication.Models.Player>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int averageScore = 0;
    int numberOfWinners = 0;
    foreach (var player in Model)
    {
        if (player.Score != 0)
        {
            averageScore += player.Score;
            numberOfWinners++;
        }
    }
    averageScore /= numberOfWinners;

    int winPercentage = numberOfWinners * 100;
    winPercentage /= Model.Count();
}

<h1>The Cabbage Dome</h1>
<h3>Welcome to the Cabbage Dome, a game in which you will walk around and die a lot and maybe eventually not die! And you might even get treasure. Or not. Get good stuff to win, die to lose. That's pretty much it.</h3>
<h3>@winPercentage% of games are won</h3>   
<h3>The average winning score is @averageScore</h3> 

@using (Html.BeginForm("CharGeneration", "Maze"))
    {
    <input type="submit" class="btn btn-primary" value="Begin" />
    }